* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  height: 60px;
  margin: 0 auto;
}


[class*="col-"] {
  float: left;
  height: 100%;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}
/* COLORS */
.content.red.light {
  height: 100%;
  background-color: #ff6c4f;
}

.content.red.dark {
  height: 100%;
  background-color: #b8260d;
}

.content.white {
  height: 100%;
  background-color: white;
}

.content.light.yellow {
  height: 100%;
  background-color: #fac882;
}

.content.yellow {
  height: 100%;
  background-color: #fabb0c;
}

.conte.flashyellow {
  height: 100%;
  background-color: #ecfa82;
}

.content.green {
  height: 100%;
  background-color: green;
}

.content.light.green {
  height: 100%;
  background-color: lightgreen;
}

.content.black {
  height: 100%;
  background-color: black;
}

.content.pink {
  height: 100%;
  background-color: #edb398;
}

.content.orange {
  height: 100%;
  background-color: #fa970c;
}

.content.lightblue{
  height: 100%;
  background-color: lightblue;
}

.content.blue {
  height: 100%;
  background-color: blue;
}

.content.violet {
  height: 100%;
  background-color: violet;
}

.content.brown {
  height: 100%;
  background-color: brown;
}

.content.light.brown {
  height: 100%;
  background-color: #a86c51;
}






/* COLORS */




.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 13 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
} */
